@use "../variables" as *;
body {
  main {
    input {
      display: block;
      margin: 0 auto;
      width: 60%;
      outline: none;
      border: 2px solid $c2;
      border-radius: 10px;
      font-size: 2em;
      height: 100px;
      margin-top: 50px;
    }
    position: relative;
    h2 {
      font-size: calc(1rem + 1.5vw);
      font-weight: 700;
      margin: 4vh 0 4vh 0;
      text-align: center;
    }
    .movie-cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 4vw 0 4vw;
    }
  }
  &.no-scroll {
    overflow: hidden;
  }
}
